/* App.css */

/* chatComponentStyle */
div.chat-component {
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 10%; /* this will center it because it leaves 10% space on each side */
  margin-bottom: 20px;
}

/* pdfUploaderStyle */
div.pdf-uploader {
  margin: auto;
  padding-top: 80px;
}

/* renderQAStyle */
div.render-qa {
  height: 50%; /* adjust the height as you see fit */
  overflow-y: auto;
}

